.main-box{
    border: 2px solid black;
}

.artists{
    height: 30px;
    background-color: darkblue;
    border-color: white;
    font-size: 18px;
    color:white;
    margin-right: 10px;
    border-radius: 4px;
}

.artists:hover{
    background-color: darkgreen;
}

.gif{
    /* border: 2px solid black; */
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

#addbutton{
    background-color: #379E90;
    color: white;
}

#artistgifs{
    position: absolute;
}

#form{
    text-align: center;
}

.row {
    text-align: center;
}